container {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}


header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

center {
    align-items:center;
}

badge {
    position: absolute;
    top:8px;
    right: 8px;
}

size{
    background-color: #2385A2;
}



