container {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}


header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

center {
    align-items:center;
}



