container {
    flex-grow: 1;
    padding: 5px;
}

title {
    align-items: center;
    flex-grow: 1;
    padding: 5px;
}

photoOuter {
    align-self: center;
    width: 50%;
}

photoInner {
    flex-grow: 1;
    margin: 5px;
}
card {
    border: 1px solid rgb(78, 187, 187);
    border-radius: 15px;
    justify-content: center;
    margin: 5px;
    width:44%;
    height: 32%;
}

buttons {
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

cardContainer {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
    margin:10px;
}
chip {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    margin:5px;
}

item {
    width:7rem;
    font-size: 2px;
    align-items: center;
    justify-content: center;
}

photo {
    flex-grow: 1;
}

input {
    margin: 5px;
}

error {
    margin: 0 5px 5px 5px;
}

buttonContainer {
    flex-direction: row;
}

button {
    flex-grow: 1;
    margin: 5px;
}