container {

}

center {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

icon {
    width:40px;
    height:40px;
}


title {
    align-items: center;
    padding: 5px;
}


modificacao {
    align-items: center;
    padding: 5px;
}

button {
    margin:15px;
}

noNotification {
    top:170px;
    flex-direction:column;
    align-items:center;
    justify-content:center; 
}

None {
    width:80px;
    height:80px;
    margin-left:115px;
}

text1 {
    font-size:22px;
}

item {
    flex-direction: row;
    align-items: center;
}

fonte {
    font-size:10px;
}

text {
    flex:2.3;
}

tipo {
    flex:1.0;
}

data {
    flex:1.1;
}

hora {
    flex:1;
}